# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Servidor de Showdown
pokemon-showdown/

# Datos crudos
data/raw/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db